@(activeSection: String)(pageCss: Html)(pageJs: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Application</title>

        @* Bootstrap core CSS *@


        @* ------- Enter global CSS here. ------- *@

        @pageCss
</head>

<body>

    <h1 class="page-header">My Application</h1>
    @content

    @* Core javascript includes required for jQuery and Bootstrap *@

    @* ------- Enter global Javascript here. ------- *@

    @pageJs

</body>

</html>