@(test: beans.math.TestBean)

<!DOCTYPE html>

<html>
<head>
<title>Generated Test</title>

<link rel="stylesheet" href="/assets/treant-js-master/Treant.css"/>
<link rel="stylesheet"
	href="/assets/treant-js-master/math-skills/collapsable.css"/>
<link rel="stylesheet"
	href="/assets/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.css"/>
</head>
<body>
	<h1>Skills Selection:</h1>
	<table>
	<tr><td><div class="chart" id="collapsable-arithmetic"></div></td>
	<td><div class="chart" id="collapsable-geometry"></div></td>
	</tr>
	</table>
	
	
	<script src="/assets/treant-js-master/vendor/raphael.js"></script>
	<script src="/assets/treant-js-master/Treant.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.min.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.easing.js"></script>
	<script src="/assets/treant-js-master/math-skills/collapsable.js"></script>
	<script>
		tree_arithmetic = new Treant(chart_config_arithmetic);
		tree_geometry = new Treant(chart_config_geometry);
	</script>

	<h1>Quiz Generated:</h1>
	<table width="800px" style="padding: 5px; margin: 5px">
		<tr>
			<th style="text-align: left">Originating Equation</th>
			<th style="text-align: left">Actual Test Question</th>
		</tr>
		@for(mathBean <- test.getMathBeans) {
		<tr>

			<td width="200px" style="vertical-align: top">x =
				@mathBean.toString()</td>


			<td width="600px">
				<ul>
					@if(mathBean.getDisplayType().equals("EQUATION")){
					<li>Solve for x.</li> }

					@if(mathBean.getDisplayType().equals("AreaDetectorRectangle")){
					<li>Calculate the area of the following rectangle (not drawn
						to scale): <!-- draw labeled rectangle -->
						<table>
							<tr>
								<td>@mathBean.getIntegers().get(0)</td>
								<td><img src="/assets/mathresources/rectangle.jpg"
									width="70px" height="70px" /></td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center">@mathBean.getIntegers().get(1)</td>
							</tr>
						</table>
					</li> }
					@if(mathBean.getDisplayType().equals("PerimeterDetectorRectangle")){
					<li>Calculate the perimeter of the following rectangle (not
						drawn to scale): <!-- draw labeled rectangle -->
						<table>
							<tr>
								<td>@mathBean.getIntegers().get(0)</td>
								<td><img src="/assets/mathresources/rectangle.jpg"
									width="70px" height="70px" /></td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center">

									@if(mathBean.getIntegers().size() > 3){
									@mathBean.getIntegers().get(2) }else{
									@mathBean.getIntegers().get(1) }</td>
							</tr>
						</table>
					</li> } @if(mathBean.getDisplayType().equals("AreaDetectorTriangle")){
					<li>Calculate the area of the following right triangle (not
						drawn to scale): <!-- draw labeled rectangle -->
						<table>
							<tr>
								<td>@mathBean.getIntegers().get(0)</td>
								<td><img src="/assets/mathresources/triangle_right.jpg"
									width="70px" height="70px" /></td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center">@mathBean.getIntegers().get(1)</td>
							</tr>
						</table>
					</li> }

					@if(mathBean.getDisplayType().equals("PerimeterDetectorTriangle")){
					<li>Calculate the perimeter of the following right triangle
						(not drawn to scale): <!-- draw labeled rectangle -->
						<table>
							<tr>
								<td>@mathBean.getIntegers().get(0)</td>
								<td><img src="/assets/mathresources/triangle_right.jpg"
									width="70px" height="70px" /></td>
								<td>@mathBean.getIntegers().get(2)</td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center">@mathBean.getIntegers().get(1)</td>
							</tr>
						</table>
					</li> }
				</ul>

			</td>
		</tr>
		</ol>
		}
	</table>


</body>
</html>
