@(test: beans.math.TestBean)

<!DOCTYPE html>

<html>
<head>
<title>Generated Test</title>
<script src="/assets/treant-js-master/math-skills/drawing/rectangle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/circle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/triangle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/square.js"></script>

<style>
th {
	border-bottom: 1px solid black;
}

td {
	border-bottom: 1px solid black;
}
</style>

</head>
<body>
	<a href="/math/skills">restart</a>
	<h1>Categories Generated:</h1>
	<table width="800px" style="padding: 5px; margin: 5px">
		<tr style="border-bottom: 1px solid black">
			<th style="text-align: left">Originating Equation</th>
			<th style="text-align: left">Categories</th>
			<th style="text-align: left">Question</th>
			<th style="text-align: left">Answer Choices</th>
		</tr>
		@for(mathBean <- test.getMathBeans) {
		<tr>

			<td width="200px" style="vertical-align: top">x =
				@mathBean.toString()</td>


			<td width="200px">
				<ul>
					@for(category <- mathBean.getTypes){
					<li>@category</li> }

				</ul>
			</td>
			<td width="300px">Display type: @mathBean.getDisplayType() <!--  question here -->
				@if(mathBean.getDisplayType().equals("ARITHMETIC")){
				<p>
					<strong>@Html(mathBean.getQuestion())</strong>
				</p> } 
				
				@if(mathBean.getDisplayType().equals("RECTANGLE")){

				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawRectangle(@mathBean.getId(), '@mathBean.getLabels().get("length")', '@mathBean.getLabels().get("width")');
        		</script>
        		
        		 } 
        		
        		@if(mathBean.getDisplayType().equals("SQUARE")){
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawSquare(@mathBean.getId(), '@mathBean.getLabels().get("side")');
        		</script> 
        		
        		} 
        		
        		@if(mathBean.getDisplayType().equals("TRIANGLE")) {
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawTriangle(@mathBean.getId(), '@mathBean.getLabels().get("base")','@mathBean.getLabels().get("height")', '@mathBean.getLabels().get("hypoteneuse")');
        		</script>
				 
				} 
				
				@if(mathBean.getDisplayType().equals("CIRCLE")){ Not coded yet 
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawTriangle(@mathBean.getId());
        		</script>
				
				}

			</td>

			<td width="200px">
				<ul>
					@for(choice <- mathBean.getAnswerChoices){
					<li>@choice</li> }

				</ul>
			</td>
		</tr>
		</ol>
		}
	</table>


</body>
</html>
