<!DOCTYPE html>

<html>
<head>
<title>Generated Test</title>

<link rel="stylesheet" href="/assets/treant-js-master/Treant.css" />
<link rel="stylesheet"
	href="/assets/treant-js-master/math-skills/skills.css" />
</head>
<body>
	<h1>Choose the skills you would like to be tested on:</h1>
	<table width="100%">
		<tr>
			<td width="100%"><div class="chart" id="collapsable-arithmetic"
					style="position: relative"></div></td>
		</tr>
		<tr>
			<td width="50%"><div class="chart" id="collapsable-geometry"></div></td>
		</tr>
		<tr>
			<td width="50%"><div class="chart" id="3d-geometry"></div></td>
		</tr>
	</table>


	<script src="/assets/treant-js-master/vendor/raphael.js"></script>
	<script src="/assets/treant-js-master/Treant.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.min.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.easing.js"></script>

	<script src="/assets/treant-js-master/math-skills/skills-globals.js"></script>
	<script src="/assets/treant-js-master/math-skills/skills-arithmetic.js"></script>
	<script src="/assets/treant-js-master/math-skills/skills-geometry.js"></script>
	<script
		src="/assets/treant-js-master/math-skills/skills-3d-geometry.js"></script>
	<script
		src="/assets/treant-js-master/math-skills/chart-config-arithmetic.js"></script>
	<script
		src="/assets/treant-js-master/math-skills/chart-config-geometry.js"></script>
	<script
		src="/assets/treant-js-master/math-skills/chart-config-3d-geometry.js"></script>

	<script src="/assets/treant-js-master/math-skills/skills-selection2.js"></script>
	<script>
    tree_arithmetic = new Treant(chart_config_arithmetic);
    tree_geometry = new Treant(chart_config_geometry);
    tree_3d_geometry = new Treant(chart_config_3d_geometry);
  </script>

	<a id="next" href="">GENERATE TEST</a>

</body>
</html>
