logs
public/images/users
project/project
project/target
target
target/
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
*/.classpath
*/.project
.project/
/RUNNING_PID
/.settings
.settings/
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
/.target
/activator-sbt-atmos-play-shim.sbt
/bin
bin/