@(test: beans.math.TestBean) @main("main"){

<!DOCTYPE html>

<html>
<head>
<title>Generated Test</title>
<script src="/assets/treant-js-master/math-skills/drawing/rectangle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/circle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/triangle.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/square.js"></script>
<script src="/assets/treant-js-master/math-skills/drawing/cube.js"></script>

<style>
th {
	border-bottom: 1px solid black;
}

td {
	border-bottom: 1px solid black;
}
</style>

</head>
<body>
	
	<a href="/math/demo/menu">>Return to Menu</a>
	<h1>Math Test:</h1>
	<table width="800px" style="padding: 5px; margin: 5px">
		@for(mathBean <- test.getMathBeans) {
		<tr>
			<td width="300px"><!--  question here -->
			@mathBean.getId)
				@if(mathBean.getType().equals("ARITHMETIC")){
				<p>
					<strong>@Html(mathBean.getQuestion())</strong>
				</p> } @if(mathBean.getType().equals("RECTANGLE")){

				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawRectangle(@mathBean.getId(), '@mathBean.getLabels().get("length")', '@mathBean.getLabels().get("width")');
        		</script> } @if(mathBean.getType().equals("SQUARE")){
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawSquare(@mathBean.getId(), '@mathBean.getLabels().get("side")');
        		</script> } @if(mathBean.getType().equals("CUBE")){
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawCube(@mathBean.getId(), '@mathBean.getLabels().get("height")', '@mathBean.getLabels().get("width")', '@mathBean.getLabels().get("depth")');
        		</script> } @if(mathBean.getType().equals("TRIANGLE")) {
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawTriangle(@mathBean.getId(), '@mathBean.getLabels().get("base")','@mathBean.getLabels().get("height")', '@mathBean.getLabels().get("hypoteneuse")');
        		</script> } @if(mathBean.getType().equals("CIRCLE")){
				<p>
					<strong>@mathBean.getQuestion()</strong>
				</p>
				<canvas id="canvas@mathBean.getId()" width="200" height="200"></canvas>
				<script type="text/javascript">
          			drawCircle(@mathBean.getId(), '@mathBean.getLabels().get("radius")', '@mathBean.getLabels().get("diameter")');
        		</script> } <br /> Choices <br/>
				<form>

					@for(choice <- mathBean.getAnswerChoices){ <input type="radio"
						name=" @mathBean.getId" checked="checked" disabled="true"/> @choice <br /> }

				</form>
			</td>
			
			<td>
				<div id="correct_@mathBean.getId"><img src="/assets/treant-js-master/math-skills/img/correct.png"/></div>
				<br/>
				-- or --
				<br/>
				<div id="incorrect_@mathBean.getId"><img src="/assets/treant-js-master/math-skills/img/incorrect.png"/></div>
				The correct answer was "a."
				<br/>
				<br/>
				To learn why the answer is "a," click here <a href="#">Link opens dialog with steps to answer question.</a>
				
		
			
						
				
				
				
			</td>
		</tr>
		}
	</table>


</body>
</html>
}
