@(test: beans.math.TestBean) @main("main"){

<!DOCTYPE html>

<html>
<head>
<title>Generated Test</title>
<script src="/assets/treant-js-master/math-skills/js/label-image.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	window.onload = function() {
		overlayLabels()
	};
});
</script>

<style>
th {
	border-bottom: 1px solid black;
}

td {
	border-bottom: 1px solid black;
}
</style>

</head>
<body>

	<a href="/math/demo/menu">Return to Menu</a>
	<h1>Math Test:</h1>
	<table width="800px" style="padding: 5px; margin: 5px">
		@for(mathBean <- test.getMathBeans) {
		<tr>
			<td width="300px"><!--  question here -->
			@mathBean.getId)  @mathBean.getQuestion <br/>
			<img id="image-to-label-@mathBean.getId" src="@mathBean.getImageUrl" style="margin:25px" />
			<script type="text/javascript">
				i=0;
			</script>
			@for(label <- mathBean.getLabels){
				<script type="text/javascript">
					queueLabel("image-to-label-@mathBean.getId", "image-to-label-@mathBean.getId-"+i, "@label.getValue", @label.getX, @label.getY);
					i++;
				</script>
			}

				<br /> Choices <br/>
				<form>
					@for(choice <- mathBean.getAnswerChoices){ 
					<input type="radio" name=" @mathBean.getId" /> @choice <br /> }
				</form>
			</td>
		</tr>
		}
	</table>
<a href="/math/demo/grade?counting=1&add=1&subtract=1&divide=1&multiply=1&circle=1&rectangle=1&triangle=1&cone=1&cylinder=1&pyramid=1&rectangularPrism=1&rightPrism=1&sphere=1" class="button">Submit Test</a>

<div id ="tmp-space"></div>
</body>
</html>
}
