@main("main"){

<!DOCTYPE html>

<html>
<head>
<title>Login</title>

</head>
<body>
	<a href="/math/demo/skills">Return to Skill Selection</a>

	
		<h1>Login:</h1>
		<div style="all: initial">
			<form method="POST" action="/math/demo/menu">
				<input type="text" name="username" class="none"
					placeholder="username"
					style="width: auto; height: auto; padding: 3px; color: #999999" />
				<input type="pass" name="password" /> <input type="submit"
					value="login" />
			</form>
		</div>

	

</body>
</html>
}

