@main("main"){

<!DOCTYPE html>

<html>
<head>
<title>Menu</title>

<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>

</head>
<body>
	<h1>How would you like to study?</h1>
		
		<a href="/math/demo/skills" class="button">Practice Specific Skills</a>
		
		<a href="/math/demo/skills" class="button">Practice Specific Skills</a>
		<a href="/math/demo?counting=1&add=1&subtract=1&divide=1&multiply=1&circle=1&rectangle=1&triangle=1&cone=1&cylinder=1&pyramid=1&rectangularPrism=1&rightPrism=1&sphere=1" class="button">Take Practice GED Test</a>
		<a href="/math/demo/progress" class="button">Review Progress</a>
	
	<h1>Teaching Tools</h1>
		<a href="/math/demo/skills/edit" class="button">Edit Skill Hierarchy</a>





</body>
</html>
}

