<!DOCTYPE html>
@main("main"){
<html>
<head>
<title>Generated Test</title>

<link rel="stylesheet" href="/assets/treant-js-master/Treant.css" />
<link rel="stylesheet"
	href="/assets/treant-js-master/math-skills/skills.css" />
</head>
<body>
	<h1>Choose Skills:</h1>
	<p>Select a skill by clicking on it.  Explore new skills by clicking yellow skill categories.</p>
	<table width="100%">
		<tr>
			<td width="100%" height="100%"><div class="chart" id="collapsable-all"
					style="position: relative"></div></td>
		</tr>
	</table>

	<script src="/assets/treant-js-master/vendor/raphael.js"></script>
	<script src="/assets/treant-js-master/Treant.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.min.js"></script>
	<script src="/assets/treant-js-master/vendor/jquery.easing.js"></script>

	<script src="/assets/treant-js-master/math-skills/skills-globals-demo.js"></script>
	<script src="/assets/treant-js-master/math-skills/chart-config-all-skills.js"></script>
	<script
		src="/assets/treant-js-master/math-skills/skills-all.js"></script>
	<script src="/assets/treant-js-master/math-skills/skills.js"></script>
	<script>
	tree_all = new Treant(chart_config_all);
  </script>

	<a id="next" href="/math/demo/" class="button">Generate Questions</a>

</body>
</html>
}