@main("Dog", true) {
	<div class="row inbox">

		<ul class="messages-list">

			<li class="unread">
				<a href="#">
					<div class="header">
						<span class="select"><input type="checkbox"></span>
						<span class="from">REMind</span>
						<span class="date">Today, 3:47 PM</span>
					</div>
					<div class="title">
						Your Exercise became active!
					</div>
					<div class="description">
						Exercise {exercise name} in Course {course name} just activated. Students can now begin taking this Exercise.
					</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="header">
						<span class="select"><input type="checkbox"></span>
						<span class="from">Jennifer Hill</span>
						<span class="date">Today, 3:47 PM</span>
					</div>
					<div class="title">
						Question 5 is messed up
					</div>
					<div class="description">
						In question 5 in the newest lesson, there are two duplicate answers, and the question text is all jumbled. Is this a mistake? I got the question wrong and I don't want to be penalized for it.
					</div>
				</a>
			</li>

			<li class="unread">
				<a href="#">
					<div class="header">
						<span class="select"><input type="checkbox"></span>
						<span class="from">Lor Emipsum</span>
						<span class="date">Today, 3:47 PM</span>
					</div>
					<div class="title">
						Dolor sit amet?
					</div>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</div>
				</a>
			</li>

		</ul>

	</div>
}